.modal{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active{
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}

.modal__content{
  padding: 20px;
  border-radius: 20px;
  background-color: #3a3939;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgb(49, 49, 49);
  z-index: 2;

  .text-field{
    display: flex;
    flex-direction: column;

    label{
      font-family: Montserrat;
      font-weight: 500;
      font-size: 12px;
      margin: 0 0 5px 10px;
      color: #b5c9c9;
    }
    .input__value{
      width: 350px;
      height: 40px;
      font-size: 15px;
      font-family: Montserrat;
      font-weight: 500;
      border-radius: 4px;
      margin: 0 0 10px 0;
      padding: 0.375rem 0.75rem;
      background: #b7d1dc;
      border: none;
      color: #333232;
    }

  }



  .data-input{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px 0 0 0;

    .date-field{
      display: flex;
      align-items: baseline;
      flex-direction: row-reverse;
      margin: 0 0 15px 0;
      label{
        font-family: Montserrat;
        font-weight: 500;
        font-size: 11px;
        margin: 0 0 5px 10px;
        color: #b5c9c9;
      }

      .input__date{
        width: 100px;
        height: 30px;
        font-size: 11px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin: 5px 0 0 0;
        font-family: Montserrat;
        font-weight: 500;
        padding: 0.375rem 0.3rem;
        background: #b5c9c9;
        color: #444f4f;
        cursor: pointer;
      }
    }
  }

  .status__active{
    margin: 15px 0 0 0;
    .checked-field{
      display: flex;
      margin: 0 0 10px 0;
      label{
        font-family: Montserrat;
        font-weight: 500;
        font-size: 11px;
        margin: 0 0 5px 10px;
        color: #b5c9c9;
      }
    }
  }

  button{
    width: 120px;
    height: 30px;
    border: none;
    background: #a5cece;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 13px;
    color: #404f4f;
  }
 }

