table{
  width: 100%;
  display: flex;
  z-index: 4;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;

  thead{
    tr{
      width: 100%;
      height: 20%;
      display: flex;

      .title-section{
        width: 25%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(58, 57, 57, 0.67);
        span{
          margin: 115px 0 5px 0;
          font-family: Orbitron;
          font-weight: 500;
          font-size: 20px;
          color: #b5c9c9;
          padding: 3px 8px;
          background: rgba(58, 57, 57, 0.26);
          border-radius: 5px;
        }
      }
    }
  }

  tbody{
    width: 100%;
    .task-string{
      width: 100%;
      height: 82.5vh;

      display: flex;
      .task-section{
        width: 100%;
        border-right: 3px solid rgba(58, 57, 57, 0.29);

        .task-container{
          width: 96%;
          height: 98%;
          background: rgba(85, 87, 87, 0.16);
          margin: 10px auto;
          border-radius: 20px;
          position: relative;
          padding: 5px 0;
        }
      }
    }
  }







  //____________Task-Item_____________________
  .task-item{
    width: 90%;
    max-height: 200px;
    background: rgba(83, 185, 204, 0.09);
    border: 5px solid rgba(38, 72, 72, 0.31);
    margin: 15px auto;
    border-radius: 10px;
    color: #b5c9c9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    box-shadow: 0 0 .2rem #fff,
    0 0 .1rem #fff,
    0 0 1.0rem #13b7fe,
    inset 0 0 0.3rem #13dbfe;



    .bottom-part{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .timer-item{
        margin: 0 5px 5px 0;
        span{
          font-family: Orbitron;
          font-weight: 500;
          font-size: 10px;

        }
      }

    }

        .task-date{
          font-family: Orbitron;
          font-weight: 500;
          font-size: 8px;
          margin: 2px 0 5px 5px;
          color: #cdeaea;
        }
        .task-title{
          font-family: Orbitron;
          font-weight: 500;
          font-size: 16px;
          margin: 5px 0 0 5px;
          color:#cdeaea;
        }
        .task-description{
          display: flex;
          font-family: Orbitron;
          font-weight: 500;
          font-size: 12px;
          margin: 10px 0 10px 5px;
          word-wrap: break-word;
          white-space: normal;
          color:#cdeaea;
        }
        .option{
          width: 20px;
          height: 20px;
          background: none;
          border: none;
          position: absolute;
          top: 5px;
          right: 3px;
          cursor: pointer;

        }

    .option-nav {
      position: absolute;
      top: 5px;
      right: 20px;
      max-width: 120px;
      height: 20px;
      display: flex;
      align-items: center;
      border-radius: 6px;
      background: rgba(91, 146, 157, 0.44);
      border: 2px solid rgba(33, 97, 110, 0.73);
      z-index: 3;

      .btn-option {
        background: none;
        border: none;
        cursor:pointer;
        margin: 5px 5px 5px 5px;
      }
    }
  }

  //_____________TaskItemCompleted_________

  .task-item-completed{
    width: 90%;
    max-height: 200px;
    background: rgba(31, 77, 44, 0.32);
    border: 5px solid rgba(38, 72, 72, 0.31);
    margin: 15px auto;
    border-radius: 10px;
    color: #242828;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    box-shadow: 0 0 .2rem #fff,
    0 0 .1rem #fff,
    0 0 1.0rem #13fe79,
    inset 0 0 0.3rem #13fe3a;



    .task-date{
      font-family: Orbitron;
      font-weight: 500;
      font-size: 8px;
      margin: 2px 0 5px 5px;
      color: rgba(19, 254, 121, 0.7);
    }
    .task-title{
      font-family: Orbitron;
      font-weight: 500;
      font-size: 16px;
      margin: 5px 0 0 5px;
      color: rgba(19, 254, 121, 0.7);
    }
    .task-description{
      display: flex;
      font-family: Orbitron;
      font-weight: 500;
      font-size: 12px;
      margin: 10px 0 10px 5px;
      word-wrap: break-word;
      white-space: normal;
      color: rgba(19, 254, 121, 0.7);
    }
    .option{
      width: 20px;
      height: 20px;
      background: none;
      border: none;
      position: absolute;
      top: 5px;
      right: 3px;
      cursor: pointer;

    }

    .option-nav {
      position: absolute;
      top: 5px;
      right: 20px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      border-radius: 6px;
      background: rgba(91, 146, 157, 0.44);
      border: 2px solid rgba(33, 97, 110, 0.73);
      z-index: 3;

      .btn-option {
        background: none;
        border: none;
        cursor:pointer;
        margin: 5px 0 5px 0;
      }
    }

    //________optionNavCompleted__________________

    .option-nav-completed {
      position: absolute;
      top: 5px;
      right: 20px;
      max-width: 120px;
      height: 20px;
      display: flex;
      align-items: center;
      border-radius: 6px;
      background: rgba(91, 146, 157, 0.44);
      border: 2px solid rgba(33, 97, 110, 0.73);
      z-index: 3;

      button {
        background: none;
        border: none;
        cursor:pointer;
        margin: 5px 5px 5px 5px;
      }
    }
  }

}

//_______________Modal__Edit_______________
.modal{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.46);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 8;
}

.modal.active{
  opacity: 1;
  pointer-events: all;
  z-index: 8;
}

.modal__content{
  width: 400px;
  height: 440px;
  border: 6px solid rgba(150, 148, 148, 0.51);
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(89, 186, 215, 0.24);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgb(49, 49, 49);
  z-index: 8;

  .text-field{
    display: flex;
    flex-direction: column;

    label{
      font-family: Orbitron;
      font-weight: 500;
      font-size: 12px;
      margin: 0 0 5px 10px;
      color: #b5c9c9;
    }
    .input__value{
      width: 350px;
      height: 40px;
      font-size: 15px;
      font-family: Orbitron;
      font-weight: 500;
      border-radius: 4px;
      margin: 0 0 10px 0;
      padding: 0.375rem 0.75rem;
      background: #b7d1dc;
      border: none;
      color: #333232;
    }

  }



  .data-input{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px 0 0 0;

    .date-field{
      display: flex;
      align-items: baseline;
      flex-direction: row-reverse;
      margin: 0 0 15px 0;
      label{
        font-family: Orbitron;
        font-weight: 500;
        font-size: 11px;
        margin: 0 0 5px 10px;
        color: #b5c9c9;
      }

      .input__date{
        width: 110px;
        height: 30px;
        font-size: 11px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin: 5px 0 0 0;
        font-family: Orbitron;
        font-weight: 500;
        padding: 0.375rem 0.3rem;
        background: #b5c9c9;
        color: #444f4f;
        cursor: pointer;
      }
    }
  }

  .status__active{
    margin: 15px 0 0 0;
    .checked-field{
      display: flex;
      margin: 0 0 10px 0;
      label{
        font-family: Orbitron;
        font-weight: 500;
        font-size: 11px;
        margin: 0 0 5px 10px;
        color: #b5c9c9;
      }
    }
  }

  button{
    width: 120px;
    height: 30px;
    border: none;
    background: #a5cece;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    font-family: Orbitron;
    font-weight: 700;
    font-size: 14px;
    color: #404f4f;
  }

  .btn-save-edit{
    width: 120px;
    height: 30px;
    border: none;
    background: #a5cece;
    border-radius: 4px;
    margin-top: 50px;
    cursor: pointer;
    font-family: Orbitron;
    font-weight: 700;
    font-size: 14px;
    color: #404f4f;
  }
}

//_____________ModalProgress____________________________

.modal-time{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal-time.active{
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}

.modal__content-time{
  border: 6px solid rgba(150, 148, 148, 0.51);
  background-color: rgba(89, 186, 215, 0.24);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgb(49, 49, 49);
  z-index: 2;

  .text-field{
    display: flex;
    flex-direction: column;

    label{
      font-family: Orbitron;
      font-weight: 500;
      font-size: 12px;
      margin: 0 0 5px 10px;
      color: #b5c9c9;
    }
    .input__value{
      width: 350px;
      height: 40px;
      font-size: 15px;
      font-family: Orbitron;
      font-weight: 500;
      border-radius: 4px;
      margin: 0 0 10px 0;
      padding: 0.375rem 0.75rem;
      background: #b7d1dc;
      border: none;
      color: #333232;
    }

  }



  .data-input{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px 0 0 0;

    .date-field{
      display: flex;
      align-items: baseline;
      flex-direction: row-reverse;
      margin: 0 0 15px 0;
      label{
        font-family: Orbitron;
        font-weight: 500;
        font-size: 11px;
        margin: 0 0 5px 10px;
        color: #b5c9c9;
      }

      .input__date{
        width: 100px;
        height: 30px;
        font-size: 11px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin: 5px 0 0 0;
        font-family: Orbitron;
        font-weight: 500;
        padding: 0.375rem 0.3rem;
        background: #b5c9c9;
        color: #444f4f;
        cursor: pointer;
      }
    }
  }

  .status__active{
    margin: 15px 0 0 0;
    .checked-field{
      display: flex;
      margin: 0 0 10px 0;
      label{
        font-family: Orbitron;
        font-weight: 500;
        font-size: 11px;
        margin: 0 0 5px 10px;
        color: #b5c9c9;
      }
    }
  }

  .btn-time-active{
    width: 120px;
    height: 30px;
    border: none;
    background: #a5cece;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    font-family: Orbitron;
    font-weight: 700;
    font-size: 13px;
    color: #404f4f;
  }
}


