

.shop-container{
  width: 100%;
  height: 100vh;
  background-image: url(img/shopfone.jpg);
  background-size: cover;
  position: relative;

  .blackout-fon{
    width: 100%;
    height: 100vh;
    background: rgba(58, 57, 57, 0.36);
  }
  ._container{
    max-width: 1200px;
    margin: 0 auto;

  }
    .shop-content{
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      //______________HEADER_____________________

      .header{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(58, 57, 57, 0.33);

        .nav-bar{
          width: 94%;
          display: flex;

          .header-logo{
            margin: 0 20px 0 0;
            .logo-title{
              font-family: Orbitron;
              font-weight: 500;
              font-size: 35px;
              color: #f5f1f1;
              display: flex;
              align-items: flex-end;


              .logo{
                display: flex;
              }
            }
          }

          .nav{
            display: flex;
            align-items: flex-end;
            a{
              font-family: Orbitron;
              font-weight: 400;
              font-size: 18px;
              color: #ffffff;
              margin: 0 5px 5px 5px;
            }

          }
        }
      }

      //_______________________body______________________

      .slider{
        position: relative;
        width: 100%;
        height: 700px;
        background: rgba(58, 57, 57, 0.13);

          .swiper{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            width: 75%;
            height: 620px;
            background: rgba(0, 255, 255, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 40px 0;


            .swiper-pagination{
              margin-top: 10px;
              bottom: 0;
            }

            .swiper-pagination-bullet{
              width:25px;
              height:5px;
              border-radius: 5px;
              background-color: #e8f3ff;

            }
            .swiper-slide{
              background-position: center;
              background-size:cover;
              width:240px;
              height:500px;
              border: 4px solid rgba(19, 191, 254, 0.63);
            }
            .block-style{
              width: 100%;
              height: 490px;
              background: rgba(58, 57, 57, 0.73);
              position: absolute;
              top: 0;
              left: 0;
            }
            .icon{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50% , -50%);
              opacity: 0.3;
            }
            .danger-text{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50% , -50%);
              font-weight: 900;
              font-family: Orbitron;
              font-size: 30px;
              color: rgba(10, 10, 10, 0.51);
            }
            .swiper-slide img{
              display:block;
              width:100%;
              height:100%;
              object-fit: cover;
            }
            .swiper-slide:hover{
              cursor: pointer;
              box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #1389fe,
              0 0 0.8rem #13b7fe,
              0 0 2.3rem #13b7fe,
              inset 0 0 1.3rem #13dbfe;
            }
          }
      }
    }

}