.modal{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active{
  opacity: 1;
  pointer-events: all;
}

.modal__content{
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;

  .input__title{
    width: 440px;
    height: 30px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0 0 20px 0;
  }

  .input__description{
    width: 440px;
    height: 22px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0 0 20px 0;
  }

  .data-input{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    p{
      font-size: 11px;
      color: rgba(0, 0, 0, 0.69);
    }

    .input__next{
      width: 75px;
      height: 25px;
      font-size: 14px;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      margin: 5px 0 0 0;
    }

    .input__end{
      width: 75px;
      height: 25px;
      font-size: 14px;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      margin: 0 0 5px 0;
    }
  }

  button{
    width: 80px;
    height: 22px;
    border: none;
    background: #8dfc90;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
  }
 }

